<h1 class="p-2">
  A* Path Finding
</h1>

<form [formGroup]="generationOptForm" (ngSubmit)="onGenrationOptSubmit()">
  <div class="form-group">
    <label>Width</label>
    <input
      class="form-control"
      type="text"
      placeholder="Width"
      formControlName="col"
    />
  </div>

  <div class="form-group">
    <label>Height</label>
    <input
      class="form-control"
      type="text"
      placeholder="Height"
      formControlName="row"
    />
  </div>

  <div class="form-group">
    <label>Obstacle density</label>
    <input
      class="form-control"
      type="text"
      placeholder="Obstacle Density"
      formControlName="obstacleDensity"
    />
  </div>
  <div class="form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="exampleCheck1"
      formControlName="allowDiagonalMove"
    />
    <label class="form-check-label" for="exampleCheck1"
      >Allow diagonal move?</label
    >
  </div>

  <button type="submit" class="btn btn-light">Generate</button>
</form>

<div class="d-flex p-1">
  <button type="submit" class="btn btn-primary" (click)="findPath()">
    Find Path
  </button>
  <button type="button" class="btn btn-primary" (click)="findPathGenerator()">
    Find Path Generator
  </button>
  <button type="button" class="btn btn-primary" (click)="findPathPrev()">
    Prev
  </button>
  <button type="button" class="btn btn-primary" (click)="findPathNext()">
    Next
  </button>
</div>

<table>
  <tr *ngFor="let x of row">
    <td *ngFor="let y of col" [ngClass]="getTileClasses(x, y)"></td>
  </tr>
</table>
